# Stop tracking of binary files
**/sw_*
**/hw_sim
usb_sim.raw

# Always included files
!**/README.md
!**/Makefile

# Petalinux container directory tracking
petalinux-container/*
!petalinux-container/Containerfile
!petalinux-container/libs
!petalinux-container/compose.yaml

# Vivado projects directory tracking
Vivado_projects/*
!Vivado_projects/*.tcl
!Vivado_projects/*.xdc
!Vivado_projects/create_project.sh

bucky_kart/